- var hasBeian = theme.beian ? ' has-beian' : '';
div(class='copyright' + hasBeian)
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var beianURL = "http://www.miitbeian.gov.cn/";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], Powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo].
    if theme.beian
        p.beian #[a(href=beianURL, target="_blank") #{theme.beian}]